@import "utils/vars";

.footer {
  background-color: #fff;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 120px;

  & span {
    margin-right: 16px;
  }
}

@media screen and (max-width: 595px) {
  .footer__text {
    display: block;
  }
}
